{% extends 'main.html'%} {%block content%}

<form action="" method="POST">
  {% csrf_token %}
  <p>Are you sure you want to delete "{{obj}}" ?</p>
  <a href="{{request.META.HTTP_REFERER}}">Go back</a>
  <input type="submit" value="Confirm" />
</form>

{% endblock content%}
