{% extends "main.html" %} {% block content %}
<h1>HomePage</h1>

<style>
  .home-container {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home-container">
  <div>{%include 'base/topics_component.html'%}</div>

  <div>
    <h5>{{room_count}} rooms anvaible</h5>
    <a href="{%url 'create-room' %}">create room</a>
    {%include "base/feed_component.html"%}
  </div>
  <div class="">{% include 'base/activity_component.html'%}</div>
</div>

{% endblock content %}
