{% extends 'main.html' %} {%block content%} {% if page == "login"%}
<div>
  <form action="" method="POST">
    {%csrf_token%}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Entre Usersname" />
    <label>Password:</label>
    <input type="password" name="password" placeholder="Entre Password" />

    <input type="submit" value="Login" />
  </form>
  <p>Havent signed up yet ?</p>
  <a href="{%url 'register'%}">Sign Up</a>
</div>
{%else %}
<div>
  <form action="" method="POST">
    {%csrf_token%} {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <p>Alredy signed up yet ?</p>
  <a href="{%url 'login'%}">Login</a>
</div>
{%endif%} {%endblock content%}
