<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends "main.html" %} {% block content %}
    <style>
      .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
      }
    </style>
    <div class="room-container">
      <div>
        <h1>{{room.name}}</h1>

        <p>{{room.description}}</p>

        <div class="comment-wrapper">
          <h3>Conversation</h3>
          <hr />
          {% for message in room_messages %}
          <div>
            {% if request.user == message.user%}
            <a href="{%url 'delete-message' message.id%}">Delete</a>
            {%endif%}
            <small>@{{message.user}} {{message.created|timesince}} ago</small>
            <p>{{message.body}}</p>
            <hr />
          </div>
          {%endfor%}
        </div>

        {% if request.user.is_authenticated%}
        <div class="comment-form">
          <form action="" method="POST">
            {% csrf_token %}
            <input
              type="text"
              name="message"
              placeholder="Write you message here ..."
              required
            />
            <button type="submit">Send</button>
          </form>
        </div>
        {%endif%}
      </div>
      <div>
        <h3>Participants</h3>
        <hr />
        {%for user in participants%}
        <div>
          <p>@{{user.username}}</p>
        </div>
        {%endfor%}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
